html
{
    margin: 0;
    padding: 0;
    background:#C2262B;
    height:100%;
}

body
{
    margin:0;
    padding:0;
    width:70%;
    height: 100%;
    min-width:1100px;    
    margin-left:15%;
    margin-right:15%;
    font-family: "Century Gothic" , Arial, Helvetica, sans-serif;
}

label
{
    margin:0;
    padding:5px;
    color:#666666;
    font-size:8pt;
}

a
{
    margin:0;
    text-decoration: none;
}

div#wrapper
{
    min-height: 100%;
    position: relative;
}

div#head
{
    width: 100%;
    height:150px;
    padding:0px;
    margin:0px;
    padding-bottom:10px;
    float: left;
    border-bottom: 1pt solid #ccc;
    background: #ffffff url(../images/contentBg.png) repeat-x;
}

div#content
{   
    margin:0px;
    padding:0px 30px;
    padding-bottom:50px;    
    background: #ffffff;
    border-radius:0px 0px 7px 7px;
}

div#foot
{
    width: 100%;
    position:absolute;
    height:35px;
    bottom:0px;
    vertical-align:middle;    
    background: #ffffff;   
    border-radius: 7px 7px 0px 0px; 
    border-top: 1pt solid #ccc;
    text-align:center;  
}

div#foot div
{
    padding: 5px 12px;
}

#foot a
{
    margin:0;
    color:#666666;
    font-size:8pt;
    text-decoration: none;
}

#foot a:hover
{
    text-decoration:underline;
}

#foot ul li.space
{
    padding: 0px 6px 0px 6px;
}

#head_cen
{
    width: 600px;
    margin: 0 auto;
    margin-top:-80px;
}

#head_sup
{
    width: 850px;
    float: left;
    position: relative;
}

#head ul
{
    width: 500px;
    height: 45px;
    float: right;
}

table
{
    margin:0;
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
}

table tr
{
    margin:0;
    padding:0;
    width:100%;    
}

table tr td
{
    vertical-align:top;
    margin:0;
    padding:0;
    padding-left:10px;
    color:#666666;
    text-align:left;
    font-size:11pt;
    line-height:27px;
}

table tr td div
{
    margin:0;
    padding:0;
    padding:15px;
}

#head ul li
{
    width: auto;
    margin-left: 1px;
    float: left;
    font-family: "Century Gothic" , Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 35px;
    text-transform: uppercase;
}

#head ul li:first-child
{
    margin: 0;
}

#head ul li a, #head ul li a.active
{
    width: auto;
    height: 32px;
    margin-top:25px;
    padding: 5px 25px 5px 25px;
    border-bottom: 3pt solid #666666;
    float: left;
    color: #FFFFFF;
    border-radius:25px;
    background: #666666;
}

#head ul li a:hover
{
    color: inherit;
    background: #C2262B;
    border-bottom: 3pt solid #C2262B;
}

#head ul li a.active
{
    color: inherit;
    background: #666666;
    border-bottom: 3pt solid #C2262B;
}



#content_cen
{
    width: 100%;
    margin: 0 auto;
}

#content_sup
{
    width: 100%;
    float: left;
}



h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

h1.logo
{
    margin-left:30px;
    padding:0px;
}

h2
{
    width: auto;
    margin:0px;
    padding: 35px 10px 35px 10px;
    float: left;
    font-family: "Century Gothic" , Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #C2262B;
    font-weight: normal;
    line-height: 30px;
}

.offers
{
    vertical-align:top;
    margin:0;
    padding:0px 10px;
}

.offers table
{
    border-radius:10px;
    padding:0px 10px 0px 10px;
    background: #ffffff url(../images/contentBg.png) repeat-x;    
}

.offers td
{
    padding-right:10px;
}

.offers h2
{
    width: auto;
    margin:0;
    padding: 10px;
    padding-top:20px;
    float: left;
    font-family: "Century Gothic" , Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #C2262B;
    font-weight: normal;
}

h3
{
    width: auto;
    font-family: "Century Gothic" , Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: #333333;
    font-weight: normal;
    line-height: 30px;
}

h4
{
    width: auto;
    font-family: "Century Gothic" , Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #333333;
    font-weight: normal;
}

p
{
    text-align:left;
    font-size:10pt;
}

img
{
    border: 0;
}

li
{
    list-style: none;
}